<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumnos</title>
</head>
<body>
  <div class="container">
    Seleccione curso:
    <select name = "alumno" [(ngModel)] = "alumno">
      <option *ngFor="let a of alumnos" value="{{a.nombre}}">{{a.nombre}}</option>
    </select>
    <br><br>
    <input type="button" (click)="busqueda()" value="Buscar">
    <table border="1" *ngIf="alumnos">
      <thead><tr><th>idCurso</th><th>Nombre</th><th>Duracion</th><th>Precio</th><th>fechaInicio</th></tr></thead>
      <tbody >
        <tr *ngFor="let p of cursos">
          <td>{{p.idCurso}}</td><td>{{p.nombre}}</td><td>{{p.duracion}}</td><td>{{p.precio}}</td><td>{{p.fechaInicio}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</body>
</html>