<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumnos</title>
</head>
<body>
  <div class="container">
    Seleccione curso:
    <select [(ngModel)] = "curso" (change)="busqueda()">
      <option *ngFor="let a of cursos" value="{{a}}">{{a}}</option>
    </select>
    <br><br>
    <table border="1" *ngIf="alumnos">
      <thead><tr><th>Producto</th><th>Precio</th><th>Stock</th></tr></thead>
      <tbody >
        <tr *ngFor="let p of alumnos">
          <td>{{p.nombre}}</td><td>{{p.curso}}</td><td>{{p.nota}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="inicio.jsp">Volver</a>
  </div>
  
</body>
</html>